

$borde-redondeado: 10px;
$ancho-tarjeta: 300px;



.armas-contenedor {
	@include flex (row, center, auto);
	flex-wrap: wrap;
	gap: 20px;
	margin-bottom: 50px;
}

.arma-carta {
  width: $ancho-tarjeta;
  border-radius: $borde-redondeado;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with 50% opacity */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.75); /* Optional subtle shadow */
  color: antiquewhite;
}

.arma-carta img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: $borde-redondeado 0 0 $borde-redondeado;
  margin-bottom: 10px;
}

.arma-carta h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.arma-carta p {
  line-height: 1.6;
}