$color_1: white;
$font-family_1: "Open Sans", sans-serif;
$background-color_1: rgba(0, 0, 0, 0.5);

.introduccionInicio {

	@include flex (row, center, center);
	margin-top: 70px;
	margin-left: 20px;
	margin-right: 20px;
	font-family: $font-family_1;
	color: $color_1;
	
	
}
.banano {
	margin-top: 40px;
	width: auto;
	height: 100%;
}
.texto_introduccionInicio {
	width: 100%;
	margin-left: 100px;
	margin-right: 100px;
	font-size: 70px;
}
.conviertete {

	@include flex (row, center, auto);
	margin-top: 30px;
}
button {
	color: $color_1;
	background-color: $background-color_1;
	font-size: 30px ;
	border: none;
	padding: 10px 20px;
}

.container-novedades {
	margin-top: 25px;
}
.novedades {
	display: grid;
	justify-items: center;
	grid-template-columns: repeat(3,1fr);
	gap: 3%;
	grid-template-areas: "img1 img2 img3";
}
.img1 {
	grid-area: img1;
	width: 75%;
	height: auto;
}
.img2 {
	grid-area: img2;
	width: 75%;
	height: auto;
}
.img3 {
	grid-area: img3;
	width: 75%;
	height: auto;
}
.jugadoresDestacados {

	@include flex (row, center, center);
	margin-top: 18px;
	gap: 3%;
	width: 100%;

		img{
			width: 400px;
			height: 500px ;
		}
}
