$borde-tarjetas: 1px solid #ccc;
$borde-redondeado: 10px;
$ancho-tarjeta: 300px;


.modosDeJuego {
	display: grid;
	grid-template-columns: (4, 1fr);
	grid-template-rows: (2, 1fr);
	justify-items: center;
	gap: 1%;
	grid-template-areas: "img1 img1 img2 img2" "img3 img3 img3 img3";
	img {
		&:nth-child(1) {
			grid-area: img1;
		}
		&:nth-child(2) {
			grid-area: img2;
		}
		&:nth-child(3) {
			grid-area: img3;
		}
	}
}

.modos-de-juego {
 
  @include flex (row, center, auto);
  
  gap: 20px;
  flex-wrap: wrap;
}

.modo-SalvarMundo,
.modo-BRoyal,
.modo-creativo {
  width: $ancho-tarjeta;
  border: $borde-tarjetas;
  border-radius: $borde-redondeado;
  text-align: center;
  padding: 20px;

  img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: $borde-redondeado 0 0 $borde-redondeado;
    margin-bottom: 10px;
  }

  h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  p {
    line-height: 1.6;
  }
}

