.personajes-contenedor {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    gap: 20px;
}

.personaje {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    padding: 20px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descripcion {
    margin-top: 10px;
    text-align: center;
}

/* Estilos específicos para las imágenes */
.personaje img {
    width: 370px;
    height: 560px;
    border-radius: 10px;
}
